.container{
    padding-top: 10px;
}

/* ////////////////////////////////////////////////////// */
.bloc1{

    width : 90vw;
    display : flex;
    justify-content: space-between; 
    align-items:center;
    text-align: center;
    margin: 0 auto;
    background-color: var(--colorGrey);
    border-radius: 10px;
}

.photo{
    height : 250px;
    width: 250px;


    
}


.appareilphoto{
    height : 50px;
    align-self: flex-end;

}

.poubelle{
    height : 50px;
    align-self: flex-end;
}


/* ////////////////////////////////////////////////////// */

.bloc2{
    height : 30vh;
    width : 80vw;
    margin : 0 auto;
    margin-top : 10px;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorGrey);
    border-radius: 10px;
  
}

.bloctaille{
    display : flex;
    justify-content: space-between;
}

.blocDescription{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.tailleinput{
    width : 40px;
    height :10px;
    margin-right: 10px;
    margin-left: 10px;
}

.crayon{
    width : 40px;
    height :20px;
}


/* ////////////////////////////////////////////////////////////// */

.bloc3{
    height : 10vh;
    width : 80vw;
    margin : 0 auto;
    margin-top : 30px;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorGrey);
    border-radius: 10px;

}

.bloc3 input{
    width : 15%;
}

.bloc3 p{
    height : 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bloc3 img{
    height : 80%;
}